{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div>
    {{#with main}}
    <main>
        <section>
            {{> title big=true data="My education"}}

            <ul>
                {{#each education}}
                <li>
                    {{name}}


                    {{#if isEnd includeZero=true}} {{/if}}

                    {{#unless isEnd includeZero=true}} (still studying) {{/unless}}

                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>

<div>
    {{#with mains}}
    <main>
        <section>
            {{> title big=false data="My certificates"}}

            <ul>
                {{#each certificates}}
                <li>
                    {{name}} ({{id}})
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}